@model EmployeeViewModel
<a asp-action="Create">Create</a>
<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Model.Id</dd>
    <dt class="col-sm-2">First Name</dt>
    <dd class="col-sm-10">@Model.FirstName</dd>
    <dt class="col-sm-2">Last Name</dt>
    <dd class="col-sm-10">@Model.LastName</dd>
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>
    <dt class="col-sm-2">Number</dt>
    <dd class="col-sm-10">@Model.PhoneNumber</dd>
</dl>
<a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>